/* main */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
}

a {
  color: black !important;
  text-decoration: none;
}

Header {
  text-align: center;
}

/* buttons */
.btn {
  width: 10rem;
  padding: 1rem;
  background-color: #f1eeea;
  border: 2px solid;
  transition: all 1s;
}
.btn:hover {
  background-color: #cccccc;
  border: 2px solid;
}
.btn:disabled {
  background-color: #333;
  color: #fff;
  cursor: auto;
}

.close {
  align-self: flex-end;
  background-color: #f1eeea;
  border: none;
}
/* card */
.row {
  display: flex;
  margin: auto;
  justify-content: space-around;
  padding: 1rem;
}
.card {
  background-color: #f1eeea;
  height: 20vh;
  width: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.card-name {
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 1rem;
}

.card-text {
  margin-top: 0.5rem;
}

/* Recommendations */

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group input {
  width: 20%;
}

@media (max-width: 575.98px) {
  .feedback .card {
    margin-bottom: 0.2rem;
  }
  fieldset {
    width: 100%;
  }
}
